body, html {
    height: 100%;
    margin: 0;
    color: #8fb8fb;
    padding: 0;
    background-color: #1c1a1a;
    text-shadow: 0 0 5px rgb(242 242 242 / 75%);
}

.hidden {
    display: none;
}

button {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
    border: 1px solid #3c3a3a;
    padding: 7px;
    border-radius: 10px;
}

button:hover {
    color: #ffffff;
}
button:disabled {
    opacity: 0.5;
}

.start__info {
    border: 1px solid black;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 0 5px rgb(200 200 200 / 75%);
}

.start__pick {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.start__pick input {
    max-width: 100px;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #4d4444;
    color: #000000;
    border-style: solid;
    border-radius: 0;
    box-shadow: 0 0 5px rgb(200 200 200 / 75%);
    text-shadow: 0 0 5px rgb(242 242 242 / 75%);
}

#startGame {
    padding: 7px;
    width: 100%;
    max-width: 200px;
    text-shadow: 0 0 5px rgb(242 242 242 / 75%);
    border-radius: 4px;
    border: 1px solid #fff;
}

#startGame:hover {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

.pick__race {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    width: 100%;
    max-width: 300px;
}

.race-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.race-field label {
    order: 1;
    margin-right: 10px;
}

.race-field label:hover {
    color: #ffffff;
}

.race-field input[type="radio"] {
    order: 2;
}

.rpg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rpg__start {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    height: 100%;

}

.rpg__wrapper {
    max-width: 600px;
    width: 100%;
    border: 1px solid #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;
    box-shadow: 0 0 5px rgb(200 200 200 / 75%);
}

.rpg__char {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    width: 100%;
}

.char__info-list {
    display: flex;
    flex-direction: column;
}

.char__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.rpg__location {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location__ways {
    display: none;
}

.location__ways-remains {
    display: none;
}

.rpg__event-list {
    overflow-y: auto;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #1c1a1a;;
    border-radius: 5px;
    margin-top: 10px;
}

.message {
    margin: 5px 0;
    padding: 8px;
    background-color: #24283c;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 22px rgb(242 242 242 / 24%);
    word-wrap: break-word;
}

.rpg__event-list::-webkit-scrollbar {
    width: 8px;
}

.rpg__event-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.rpg__event-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.rpg__event-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.restart-btn {
    padding: 7px;
    width: 100%;
    max-width: 200px;
    text-shadow: 0 0 5px rgb(242 242 242 / 75%);
    border-radius: 4px;
    border: 1px solid #fff;
}






